*{
    margin:0;
     padding:0;
     box-sizing: border-box;
    }

    .container{
        display:grid ;
        grid-template-columns: repeat(3,150px) 100px;
        grid-template-rows: 100px 250px 130px 80px;
        gap: 10px;
        justify-content: center;
    }
    div{
        background-color:royalblue;
        color:white;
        font-family:'Courier New', Courier, monospace;
        padding: 10px;
    }
.header{
    grid-column: 1/5;

}
.sideBar{
    grid-row: 2/4;
    grid-column: 4/5;
}
.mainContent{
    grid-column: 1/4;

}
.footer{
    grid-column: 1/5;
}
